
h1{
    text-align: center;
    color: rgb(232, 232, 232);
    background-color: cornsilk;
    text-transform: uppercase;
    height: 5rem;
    padding-top: 3.5rem;
    background-color: #001c30;
    margin-bottom: 0px;
    margin-top: 0px;
}

.form {
    display: flex;
    justify-content: space-evenly;
    background-color: #176B87;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding: 2%;
    color: #fff;
}

.content{
    background-color: #176B87;
}

.submit-button {
   
    justify-content: center;
    background-color: #176B87;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    height: 100px;
   border-width: none;
}